@media (min-width:1080px) {
    .page-header {
        position: relative;
        background-position: center 24%;
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 315px
    }
}