.f-18 * {
    font-size: 1.2rem
}

.gfield_description {
    display: block !important;
    color: #777
}

.gform_wrapper .field_description_below .gfield_description {
    padding-top: 5px
}

.bg-md-white.shadow {
    margin-bottom: 30px
}

@media (min-width:1080px) {
    .page-header {
        position: relative;
        background-position: center 24%;
        background-repeat: no-repeat;
        background-size: 100% auto
    }
}